.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    vertical-align: middle;
    padding: 3rem;
    margin-left: 15%;
    margin-right: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
}

img {
    object-fit: contain;
    background-color: lightgray
}

.submit-message {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem
}

.about-me {
    margin-top: 40px;
    margin-bottom: 2rem;
    padding: 2rem;
    vertical-align: center;
    background-color: rgb(228, 154, 86);
    border-radius: .25rem;
}

#about-me-p {
    margin-top: 3rem;
    font-size: 1.25rem
}