.about-me {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-bottom: 50px;
    padding: 2rem;
    width: 40rem;
    margin-top: 5rem;
    margin-left: 30%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: lightgray;
    border-radius: .25rem;
}

img {
    width: 25rem;
    /* margin: 4rem 0 4rem 0; */
}

.submit-message {
    cursor: pointer;
    font-size: 2rem
}
