.blogs {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin-left: 15rem;
    margin-top: 5rem;
    justify-content: center;
    padding: 1rem;
    border-radius: .25rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 50px;
  }

  .blog-li {
    background-color:rgb(228, 154, 86);
    padding: 1rem;
    border-radius: .25rem;
    width: 29.6rem;
    height: 16rem
}

.blog-ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem
}

.blog-title {
  border-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 1rem
}


.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

h4 {
  font-size: 1.5rem
}

.blog-info  {
  font-size: 1.25rem
}


