.blogs {
    /* background-color: gray; */
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50%;
    margin-left: 15rem;
    margin-top: 2.5rem;
    justify-content: center;
    padding: 1rem
  }

.blog-li {
      background-color: lightgray;
      padding: 1rem;
      border-radius: .5rem
  }
  
  .blog-ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 1rem
  }