#resume {
    margin-top: 5rem;
    width: 100%;
    box-shadow: 0px 0px 0px 10px  rgb(228, 154, 86);
}

.resume {
    margin-bottom: 50px;
    /* height: 100%; */
    width: 50%;
    margin-left: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
}





