.resume {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2rem;
    height: 100%;
    width: 50%;
    margin-top: 5rem;
    margin-left: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: lightgray;
    border-radius: .25rem;
}

.resume-container {
    background-image: url(../Images/resume.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px
}