@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

h1 {
    font-family: 'Open Sans Condensed', sans-serif; 
    padding: 1rem 1rem .5rem 1rem;
    margin-bottom: 0;
    font-weight: 200;
    font-size: 3.5rem;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    float: left;
    padding: 2rem;
}

.nav-li {
    cursor: pointer;
    margin-bottom: 40px;
}

.nav-li:hover {
    color:rgb(221, 99, 28)
}

ul {
    margin-top: 10rem;
    list-style-type: none;
}





